{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <style>
        body {
            background: url("{% static 'img/background.jpg'  %}") no-repeat;
            background-size: cover;
            opacity: 1;
            font-weight: inherit;
            font-size: 14px;
            color: black;
        }
    </style>

</head>
<body>
<div class="container">
    <h1>列表展示页面</h1>
    {% if c1.show_search_form %}
        <div class="form-group pull-right">
            <form method="get">
                <input name="{{ c1.config.search_key }}" value="{{ c1.search_form_val }}" class="form-control"
                       placeholder="请输入搜索条件" type="text" style="display:inline-block;width: 200px;">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    {% endif %}

    {% if c1.show_add_btn %}
        <a href="{{ c1.add_url }}" class="btn btn-primary">添加</a>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% if c1.show_actions %}
            <div class="form-group">
                <select name="list_action" class="form-control" style="display:inline-block;width: 200px;">
                    {% for item in c1.modify_actions %}
                        <option value="{{ item.name }}">{{ item.text }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary">执行</button>
            </div>
        {% endif %}

    <table class="table table-bordered table-hover">
        <thead>
        {% for head in c1.head_list %}
            <th>{{ head }}</th>
        {% endfor %}

        </thead>
        <tbody>
        {% for data in c1.body_list %}
            <tr>
                {% for obj in data %}
                    <td>{{ obj }}</td>
                {% endfor %}
            </tr>
        {% endfor %}


        </tbody>
    </table>
    </form>






    <nav aria-label="...">
        <ul class="pagination">
            {{ c1.page_obj.page_html|safe }}
        </ul>
    </nav>

</div>
</body>
</html>