{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <style>
        body{
            background: url("{% static 'img/background.jpg' %}");
        }
    </style>

</head>
<body>
<div class="container">
    <h1>列表展示页面</h1>
    {% if show_add_btn %}
        <a href="{{ add_url }}" class="btn btn-primary">添加</a>
    {% endif %}
    <table class="table table-bordered table-hover">
        <thead>
            {% for head in head_list %}
                <th>{{ head }}</th>
            {% endfor %}

        </thead>
        <tbody>
            {% for data in data_list %}
                <tr>
                    {% for obj in data %}
                        <td>{{ obj }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>