{% extends "stark/layout.html" %}
{% load staticfiles %}
{% load change_form %}
{% block style %}
    <style>
        body{
            background: url("{% static 'img/add_background.jpg' %}");
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row" style="margin-top: 27px">
        <h1>添加页面</h1>
        <div class="col-md-5 col-md-offset-1">
            {% form config form %}
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/picture.gif' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}