{% load staticfiles %}
{% extends "stark/layout.html" %}




{% block style %}
    <style>
    .pager a{
        display: inline-block;
        padding:2px 8px;
        margin:0 5px;
        border:1px solid cadetblue;
        text-decoration: none;
    }
    .pager a.active{
        background-color: #2b669a;
        color: white;
    }

</style>
{% endblock %}





{% block body %}
    <ul>
    {% for host in host_list %}
            <li>{{ host }}</li>
{#        某一段数据#}
    {% endfor %}

</ul>
    <div class="pager">
        {{ page_html|safe }}
    {#    按钮#}
    </div>
{% endblock %}

