{% load staticfiles %}
{% extends "stark/layout.html" %}

{% block style %}
    <style>
        body{
            background: url("{% static 'img/demo2.jpg' %}");
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">
    <div class="row" style="margin-top: 200px">
        <div class="col-md-4 col-md-offset-4">
            <h1>你确定要删除吗？</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="确定" class="btn btn-primary">
            </form>

        </div>
    </div>
</div>
{% endblock %}