{% extends "stark/layout.html" %}


{% block body %}
    <div class="container">
    <h1>抢单页面</h1>
        <table class="table table-bordered">
    <thead>
    <tr>
        <td>ID</td>
        <td>QQ</td>
        <td>姓名</td>
        <td>抢单</td>
    </tr>
    </thead>
    <tbody>
    {% for row in customer_list %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.qq }}</td>
            <td>{{ row.name }}</td>
            <td>
                {% if row.consultant_id == current_user_id %}
                        <a>无权</a>
                    {% else %}
                        <a href="/stark/crm/customer/{{ row.id }}/competition/">抢单</a>
                    {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
    </div>
{% endblock %}