{% load staticfiles %}
{% extends "stark/layout.html" %}



{% block body %}
    <div class="container">
    <h1>学生信息</h1>
    <form action="" method="post">
    {% csrf_token %}
    <table class="table table-bordered">
        {% for row in data %}
            <tr>
                <td>{{ row.obj.course_record }}</td>
                <td>{{ row.obj.student }}</td>
                <td>{{ row.obj.get_record_display }}</td>
            {% for field in row.form %}
                <td>{{ field }}</td>
            {% endfor %}

            </tr>
        {% endfor %}

    </table>
    <input type="submit" value="提交">
</form>
</div>
{% endblock %}