{% extends "stark/layout.html" %}

{% block body %}

    <div class="container">
    <h1>个人客户页面</h1>
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>QQ</th>
            <th>用户名</th>
            <th>课程顾问</th>
        </tr>
        </thead>
        <tbody>
        {% for row in customers %}
            <tr>
                <td>{{ row.customer.qq }}</td>
                <td>{{ row.customer.name }}</td>
                <td>{{ row.customer.consultant }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
{% endblock %}